section.draw-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100px;
  margin: 0 -10px;

  > p > b { font-size: 20px; }

  @media screen and (max-width: $sm-breakpoint) {
    margin: 0 -30px;
  }
}
