$side: 70px;

button.letter-wrapper {

  animation: .5s smoothEnter;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $side;
  height: $side;
  background-color: $lightGreen;
  color: white;
  font-size: 24px;
  position: relative;
  > span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
  }
  &.letter-selected { background-color: $lightBlue; }
}

@keyframes smoothEnter {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  100% {
    opacity: 1;
    width: $side;
    height: $side;
  }
}
