button.button {
  border: none;
  cursor: pointer;
  &:focus { outline: none; }
  &:active {
    padding-top: 2px;
    padding-left: 7px;
    box-shadow: inset 1px 1px 2px 4px rgba(100, 100, 100, .2);
  }
}
