body {
  background-color: rgb(120, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: $darkBlue;
}

* {
  font-family: 'Lato', sans-serif;
}

div#app > div {
  background-color: rgb(253, 253, 253);
  padding: 30px;
  min-width: 75vw;
  box-shadow: 2px 2px 7px 2px rgba(80, 80, 80, .3);
}

h1 {
  font-weight: 300;
  text-align: center;
}

.text {
  &-darkBlue {
    color: $darkBlue
  };
  &-blue {
    color: $blue
  };
  &-lighBlue {
    color: $lighBlue
  };
  &-lightGreen {
    color: $lightGreen
  };
}
